* {
    margin: 0;
    padding: 0;
}

main {
    background-color: lightpink;
}
#header {
    background-color: #add8e6;
}
#header #logo a {
    color: red;
}

#header #logo a::before {
    content: '\f578';
    font-family: 'Line Awesome Free';
    font-weight: 900;
}

#gnb > ul > li {
    border: 1px solid blue;
}

#depth1 > li > a::before {
    content: '\f0f3';
    font-family: 'Line Awesome Free';
    font-weight: 900;
}

.main-intro {
    border: 1px solid red;
}
.bg-grey {
    background: color #f0f0f0;
}
